.news{
  @include rem-fallback(padding,2.5,0,5);
}
.news__title{
  color:$small-heading-color;
  @include rem-fallback(font-size,1.5);
  @include rem-fallback(margin,2.2,0,0.5);
  font-weight:900;

}
.news__title--main{
  font-family:$font-default;
  font-weight:300;
  font-style:normal;
  @include rem-fallback(margin,0,0,0.7);
  @include rem-fallback(font-size,2);
}
.news__date{
  color: $discrete-color;
  padding:5px;
  @include rem-fallback(margin,2.2,0,0);
}
.news__author{
  float:left;
  color:$discrete-color;
}
.news__author-link{

}
.news__text{
  @include rem-fallback(margin, 0.6,0,2);
  font-family: Georgia,serif;
}
.news__footer{
  text-align:center;

}
.news__number-comments{
  @include rem-fallback(font-size, 0.8);
  @include rem-fallback(margin-right, 1);
  padding:7px 20px;
  color:$link-color;

}
.news__comment-link{
  @include rem-fallback(font-size, 0.8);
  padding:7px 20px;
  color:$link-color;
}
