.carac-cheval{
  @include rem-fallback(margin,2,0);
}

.carac-cheval__garrot{
  width:70%;
  display:block;
  margin:auto;
}
.carac-cheval__gen{
  display:block;
  margin:0 auto;
  @include rem-fallback(margin-bottom,4);
}
