.accueil-nav__link{
  display:block;
  float: left;
  position:relative;
  padding: 100px;
  width: 33.3333%;
  height:230px;
  text-decoration:none;
  background-color: $background-color;
  background-size:100%;
  background-position: center center;
  box-shadow:0px 20px 100px rgba(0,0,0,0.7) inset;
  @include transition(all 0.8s ease-in-out);
  &:hover{
    background-size: 120%;
    &:before{
      background-color: rgba(0,0,0,0.35);
    }
  }
  &:before{
    content:" ";
    display:block;
    @include transition(all 0.8s ease-in-out);
    background-color: rgba(0,0,0,0);
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
  }
}
.accueil-nav__bouton{
  //background:$background-color;
  @include rem-fallback(font-size,1.8);
  @include rem-fallback(padding,0.7);
  text-align: center;
  color: $button-text-color;
  border-radius:0px;
  border-width:1px 0px;
  position:relative;
  z-index:90;
}
.accueil-nav{
  border-top: 25px solid #3A2B28;
}

.accueil-nav__link--chevaux{
  background-image: url('img/nav3.jpg');

}
.accueil-nav__link--about{
  background-image: url('img/nav2.jpg');
}
.accueil-nav__link--contact{
  background-image: url('img/nav1.jpg');
}
