.comment{
  @include rem-fallback(margin-top,2.5);
}
.comment__title{
  @include rem-fallback(font-size,1.7);
}
.comment__item{
  list-style:none;
  @include rem-fallback(margin,2,0,0);
  @include clearfix();
}
.comment__author{
  display:block;
  float:left;
  @include rem-fallback(width,10);
  height:90px;
}
.comment__date{
  color:$discrete-color;
}

.comment__message{
  font-family:$font-paragraph;
  @include rem-fallback(margin,0.5,0);
}
