

//font-settings
$font-size : 16px;
$medium-size : 22px;
$no-unit-size : 16;
$line-height : 24px;

//colors
$text-color : #382829;
$heading-color : #633c42;
$background-color: #71473c;
$text-color-bkgr: white;
