

//font-settings
$font-size : 16px;
$medium-size : 22px;
$no-unit-size : 16;
$line-height : 24px;

//colors
$text-color : #382829;
$placeholder : #d7d7d9;
$heading-color : #857955;
$background-color: #3f312e;
$text-color-bkgr: white;
