header.page-head
  div.wrapper
    nav.site-nav
      h2(role="heading" aria-level="2").hidden-title Navigation du Site
      a(href="index.html" title="Retour à l'accueil").site-nav__home
        include logo-petit.svg
      div.site-nav__right
        a(href="chevaux.html").site-nav__link Chevaux
        a(href="a-propos.html").site-nav__link À propos
        a(href="contact.html").site-nav__link Contact
