h1.hidden-title Accueil de l'élevage de la Chavée
header.header-accueil
  video(src="img/chavee-video.mp4" autoplay loop).header-accueil__video
  a(href="#")
    img(src="img/logo.png" alt="La Chavée, élevage équin").header-accueil__logo
  h2(role="heading" aria-level="2").hidden-title Inscription à la Newsletter
  form(method="post" action="#").form-newsletter
    label(for="email").form-newsletter__label Inscription à la Newsletter
    input(type="email" name="email" id="email" placeholder="Votre Adresse Email").form-newsletter__text
    input(type="submit" value="S'inscrire").button.button--white.form-newsletter__submit
nav.accueil-nav.clearfix
  h2(role="heading" aria-level="2").hidden-title Navigation du Site
  a(href="chevaux.html").accueil-nav__link.accueil-nav__link--chevaux Chevaux
  a(href="a-propos.html").accueil-nav__link.accueil-nav__link--about A propos
  a(href="contact.html").accueil-nav__link.accueil-nav__link--contact Contact
  
