extends includes/layout.jade
block title
  title Nos Chevaux
block header
  include includes/header.jade
block content
  section.chevaux
    h1.heading Les Juments
    div.chevaux__item
      div.chevaux__silhouette
      div.chevaux__description
