extends includes/layout.jade
block title
  title Nos Chevaux
block header
  include includes/header.jade
block content
  h1.hidden-title Liste des Juments
  section.chevaux.marge-fixed
    div.chevaux__item
      div.chevaux__left
        a(href="cheval.html")
          img(src="img/silhouette1.png" alt="Voir la fiche de Thalys").chevaux__silhouette
      div.chevaux__right
        a(href="cheval.html")
          h2(role="heading" aria-level="2").chevaux__nom Thalys de la Chavée
        p.chevaux__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus, placeat voluptatum accusantium, eius doloremque id minima explicabo iure et perspiciatis amet ad veritatis velit voluptatibus voluptates asperiores esse, totam!
        a(href="cheval.html").chevaux__plus.button Voir plus
    div.chevaux__item
      div.chevaux__left
        a(href="cheval.html")
          img(src="img/silhouette1.png" alt="Voir la fiche de Havane").chevaux__silhouette
      div.chevaux__right
        a(href="cheval.html")
          h2(role="heading" aria-level="2").chevaux__nom Havane de la Chavée
        p.chevaux__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus, placeat voluptatum accusantium, eius doloremque id minima explicabo iure et perspiciatis amet ad veritatis velit voluptatibus voluptates asperiores esse, totam!
        a(href="cheval.html").chevaux__plus.button Voir plus
    div.chevaux__item
      div.chevaux__left
        a(href="cheval.html")
          img(src="img/silhouette1.png"  alt="Voir la fiche de Galatée").chevaux__silhouette
      div.chevaux__right
        a(href="cheval.html")
          h2(role="heading" aria-level="2").chevaux__nom Galatée de la Chavée
        p.chevaux__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus, placeat voluptatum accusantium, eius doloremque id minima explicabo iure et perspiciatis amet ad veritatis velit voluptatibus voluptates asperiores esse, totam!
        a(href="cheval.html").chevaux__plus.button Voir plus
