//-main.jade
extends includes/layout.jade
block title
  title Accueil - Elevage de la Chavée 
block header
  include includes/header-accueil.jade
block content
  div.wrapper
    section.news.main-column
      h2(role="heading" aria-level="2").heading Actualités de l'élevage
      article.news__item 
        a(href="article.html")
          h3(role="heading" aria-level="3").news__title Ouverture du site
        p.news__author par
          a(href="#").news__author-link &nbsp;Anne-Sophie, 
        time(datetime="2015-09-05").news__date  le 5 septembre 2015
        div.news__text Ce site est encore en construction et n'est à vrai dire pas encore ouvert. On peut cependant s'y faire déjà une idée du rendu final qu'il aura. Beaucoup de choses sont à faire encore.
        div.news__footer
          a(href="article.html").news__number-comments.button 3 commentaires
          a(href="article.html").news__comment-link.button Commenter
      article.news__item 
        a(href="article.html")
          h3(role="heading" aria-level="3").news__title Une nouvelle arrivante
        p.news__author par
          a(href="#").news__author-link &nbsp;Anne-Sophie, 
        time(datetime="2015-09-05").news__date  le 5 septembre 2015
        div.news__text Il y a deux semaines environ, l'élevage de la Chavée a vu venir une nouvelle arrivante dans ses "pensionnaires". En effet, Sibelle, une jeune et jolie Franche-Montagne a désormais sa place dans les boxes de l'élevage. De belles balades à cheval, ou en attelage en perspective !
        div.news__footer
          a(href="article.html#nb-comments").news__number-comments.button 0 commentaire
          a(href="article.html#comment" id="").news__comment-link.button Commenter
        
      
