//-main.jade
extends includes/layout.jade
block title
  title Accueil - Elevage de la Chavée 
block header
  include includes/header-accueil.jade
block content
  div.wrapper
    section.news.main-column
      h2(role="heading" aria-level="2").heading Actualités de l'élevage
      article.news__item 
        h3(role="heading" aria-level="3").news__title Ouverture du site
        time(datetime="2015-09-05").news__date  Le 5 septembre 2015
        p.news__author par Anne-Sophie 
        div.news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a urna justo. Etiam orci neque, finibus vitae tempor vitae, porta ut odio. In vitae condimentum eros. Nulla malesuada vestibulum auctor. Aliquam imperdiet pulvinar magna a vestibulum. Etiam mi erat, ultrices at nulla a, placerat auctor massa. Nam pulvinar, lorem eu porta cursus, quam ante viverra ante, sed porta enim eros non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam viverra mauris vitae quam blandit, et aliquet arcu laoreet. Proin vel diam accumsan, consectetur mauris nec, aliquet metus. Nunc dictum ligula et ligula viverra lobortis. Curabitur dignissim massa quis tellus mattis, sed egestas dolor hendrerit.
        a(href="article.html") 5 commentaires
        a(href="article.html") Commenter
        
      
